/*#my-canvas {
    border: 0 solid #000;
    background-image: url("../images/easel_pad.png");
  }*/

  #my-canvas {
      border: 20px solid #000;
    }

.container {
  margin: 0 auto;
  position: absolute;
}

.dice {
  position: absolute;
  top: 10px;
  left: 500px;
  display: inline;
  width: 150px;
  height: 150px;
  border: 2px solid;
  text-align: center;
  font-size: 120px;
 }

.button_roll_dice {
  position: absolute;
  top: 170px;
  left: 503px;
  width: 150px;
  }


.time {
  position: absolute;
  top: 10px;
  left: 700px;
  width: 150px;
  font-size: 120px;
  }


  .button_time_stop_start {
    position: absolute;
    top: 170px;
    left: 700px;
    width: 300px;
    }

.dialogue_box {
  position: absolute;
  top: 70px;
  left: 800px;
  width: 150px;
  font-size: 120px;
  }


.button_30sec_alert {
  position: absolute;
  top: 70px;
  left: 800px;
  }


.hint {
  width: 150px;
  height: 150px;
  border: 2px solid;
  position: absolute;
  top: 10px;
  left: 1050px;
  width: 150px;
  font-size: 36px;
  text-align: center;
}


.button_hint {
  position: absolute;
  top: 170px;
  left: 1050px;
  width: 150px;
}



.answer {
  width: 150px;
  height: 150px;
  border: 2px solid;
  position: absolute;
  top: 400px;
  left: 1050px;
  width: 150px;
  font-size: 36px;
  text-align: center;
}


.answer_text {
  position: absolute;
  top: 360px;
  left: 1050px;
  width: 150px;
  font-size: 36px;
  text-align: center;
}

input[type="text"] {
  position: absolute;
  top: 400px;
  left: 500px;
  display: block;
  margin: 0;
  width: 100%;
  height: 124px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 5px #000;
  transition: border 0.3s;
}
